html, body{
  height: 100%;
  overflow: auto;
}
body {
  background: #94d995;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
a {
  color: black;
  font-weight: 600;
}
a:hover {
  text-decoration: none;
}
.msg-box {
  
  margin: 50px 0 50px 0;
}
h1 {
  font-size: 48px;
  text-transform: uppercase;
}
.contact-icons {
  list-style: none;
  padding-left: 0;
}
.contact-icons li {
  display: inline-block;
  padding: 1em;
}
#email a, #linkedin a, #github a {
  color: black;
}
#email a:hover, #linkedin a:hover, #github a:hover {
  opacity: 0.5;
}