html {
  box-sizing: border-box;
}

*, *:before, *after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ang ang ang */

body {
	padding: 0;
	color: black;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: #78909C;
}

a:hover {
	color: black;
	cursor: pointer;
}

a.active {
	border-bottom: solid 1px gray;
}

.center {
	text-align: center;
}

.boldme {
	font-weight: 700;
}

.highlight {
	display: inline-block;
	padding: 15px;
	margin-bottom: 15px;
	line-height: 100%;

	background-color: black;
	color: white;
	text-align: center;
	font-size: 1.5em;
}

/* NAVIGATION */

nav {
	width: 100%;
	position: fixed;
	z-index: 999;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 2px 10px #888888;
}

nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 13px;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0 20px;
}

@media all and (max-width: 400px) {
	nav ul li {
		margin: 0 10px;
	}
}

nav ul li a {
	color: gray;
	text-decoration: none;
	font-weight: 500;
	transition: all 0.3s ease;
}

nav ul li a:hover {
	color: black;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}

div.info:last-child {
	margin-bottom: 0;
}

div.info h2 {
	margin-bottom: 40px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1.5em;
	font-weight: 500;
	text-transform: uppercase;
}

div.info p {
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1em;
	line-height: 25px;
}

div.info p:last-child {
	margin-bottom: 0px;
}

div.info.content {
	padding: 40px 0;
}

div.info.main {
	height: 750px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
}

div.info.main h1 {
	font-size: 6em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-top: 300px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

div.info.main p {
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

 div.info.parallax {
	height: 400px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
}

div.info.parallax h1 {
	font-size: 2.5em;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 400px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 400px) {
	div.info.main {
		height: 550px;
	}

	div.info.main h1 {
		font-size: 3em;
		padding-top: 200px;
	}

	div.info.main p {
		font-size: 1.5em;
	}
}

@media all and (min-width: 600px) {
	div.info h2 {
		font-size: 2.25em;
	}
	div.info p {
		font-size: 1.15em;
		margin-bottom: 40px;
	}
	div.info.parallax h1 {
		font-size: 3.5em;
	}
}

@media all and (max-width: 645px) {
	div.info.main h1 {
		font-size: 4em;
	}

	div.info.main p {
		font-size: 2em;
	}

	/* div.info.main, div.info.parallax {
		background-attachment: scroll !important;
		background-position: center;
	} */
}

div.info.parallax-1 {
	background-image: url("../img/bg1.jpg");
}

div.info.parallax-2 {
	background-image: url("../img/bg2.jpeg");
}

div.info.parallax-3 {
	background-image: url("../img/bg3.jpeg");
}

div.info.parallax-4 {
	background-image: url("../img/bg4.jpeg");
}

@media all and (max-width: 400px) {
	div.info.parallax-1 {
		background-image: none;
		background: #73C8A9; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #73C8A9 , #373B44); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #73C8A9 , #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	div.info.parallax-2 {
		background-image: none;
		background: #136a8a; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	div.info.parallax-3 {
		background-image: none;
		background: #616161; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #616161 , #9bc5c3); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #616161 , #9bc5c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

  div.info.parallax-4 {
    background-image: none;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  }
}

/* PROJECTS */
.portfolio-title {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* portfolio imgs */
.wrapper {
	text-align: center;
	margin: 0 auto;
}

.images {
	width: 100%;
}

.view {
	width: 25em;
	height: 12.5em;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 1px 1px 2px #e6e6e6;
	display: inline-block;
	margin: 1em;
}

.view .mask {
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	overflow: hidden;
 	top: 0;
 	right: 100%;
}

.mask a {
	padding: 1em;
}

.mask a:hover{
	color: white;
}

.view img {
	display: block;
	position: relative;
	width: 25em;
	height: 12.5em;
	border: solid 1px #fafafa;
}

.view h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.25em;
    padding: 0.8em;
    background: #222;
    margin: 1.1em 0 0 0;
}

.view h4 {
	font-style: italic;
	font-size: 0.75em;
	position: relative;
	color: #D3C79C;
	padding: 0.6em 1.1em 1.1em;
	margin-bottom: 30px;
}

@media all and (max-width: 400px) {
	.view {
		width: 18em;
		height: 9em;
		margin: 1em 0;
	}

	.view img {
		width: 18em;
		height: 9em;
	}

	.view h3 {
		font-size: 1em;
		padding: 0.2em 0.8em 0.2em;
	}

	.view h4 {
		margin-bottom: 20px;
	}
}

.view-portfolio img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.view-portfolio .mask {
	background-color: #222;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.view-portfolio p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #FFF;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.view-portfolio:hover .mask {
	right: 0;
}

.view-portfolio:hover img {
	margin-left: 100%;
}

.view-portfolio:hover p {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* CONTACT */
.contact-text {
	text-align: center;
}

#icons {
	list-style: none;
	padding-left: 0;
	text-align: center;
	margin-top: 1em;
	font-size: 2em;
}

#icons > li {
	display: inline-block;
	padding: 0.2em;
}

#email a {
	color: red;
}

#skype a {
	color: #12A5F4;
}

#linkedin a {
	color: #007bb6;
}

#github a {
	color: black;
}

#github a:hover, #email a:hover, #skype a:hover, #linkedin a:hover {
	opacity: 0.5;
}

/* FOOTER */
footer {
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
	font-size: 0.75em;
}

.top {
	font-weight: 500;
	margin-bottom: 30px;
}
